
/* Reset CSS */
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* Body Styles */
body {
  background-color: #121212;
  color: #fff;
  font-family: 'Teko', sans-serif;
  overflow-x: hidden;
}

/* Anchor Styles */
a {
  color: #6bf;
  text-decoration: none;
}

a:hover {
  color: #19b;
}

/* GIF Container */
.gif-container {
  position: sticky;
  width: 100%;
  height: 100vh;
  background-image: url("./assets/images/Video.GIF");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  
}

/* Header Styles */
header {
  position: relative;
  width: 100%;
  margin-bottom: 45px;
  
}

/* Hero Content Styles */
.hero-content {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  padding: 20px;
  background: rgba(0, 0, 0, 0.5);
  border-radius: 10px;
  width: 80%;
  max-width: 600px;
  box-shadow: 0 0 50px #6bf;
}

/* Hero Heading Styles */
.hero h1 {
  font-size: 72px;
  font-weight: bold;
  color: #6bf;
}

/* Hero Subheading Styles */
.hero h2 {
  font-size: 36px;
  font-weight: lighter;
  color: #6bf;
}

/* Button Styles */
.button {
  border: 2px solid #6bf;
  border-radius: 5px;
  padding: 10px 20px;
  margin: 10px;
  font-size: 20px;
  color: #6bf;
  background-color: #121212;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  display: inline-block;
}

.button:hover {
  background-color: #6bf;
  color: #121212;
}

/* Site Structure */
.site-structure {
  width: 100%;
  max-width: 1200px;
  margin: auto;
  padding: 0 15px;
}

/* Intro Section Styles */
#intro {
  text-align: center;
  margin-top: 50px;
}

.ian-portrait {
  width: 100%;
  max-width: 400px;
  margin: auto;
  border-radius: 10px;
  box-shadow: 0 0 20px #6bf;
}

/* Articles Section Styles */
.articles {
  max-width: 1200px;
  margin: 50px auto;
  padding: 0 10px;
}

.articles h2 {
  font-size: 36px;
  color: #6bf;
  text-align: center;
  margin-bottom: 30px;
}

.articles h2::after {
  content: "";
  display: block;
  width: 50px;
  height: 2px;
  background-color: #6bf;
  margin: auto;
}

/* About and Portfolio Section Styles */
#about, #portfolio {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.about-paragraphs p {
  font-size: 35px;
  text-align: center;
  margin-bottom: 5%;
  
}

#about h2, #portfolio h2 {
  font-size: 48px;
  color: #6bf;
  margin-bottom: 20px;
  width: 100%;
}

/* Portfolio Image Styles */
#portfolio img {
  display: block;
  max-width: 100%;
  height: auto;
  border: 2px solid #6bf;
  box-shadow: 0 0 20px #6bf;
  border-radius: 10px;
  transition: border-color 0.3s, filter 0.3s;
}
.primary-project, .secondary-projects {
  display: flex; /* Use flexbox */
  justify-content: center; /* Center content horizontally */
  align-items: center; /* Center content vertically */
  flex-direction: column; /* Stack children vertically */
  margin-bottom: 20px; /* Add some space between items */
}


#portfolio img:hover {
  border-color: #19b;
  filter: brightness(120%);
}

/* Contact Section Styles */
#contact {
  text-align: center;
}

#contact h2 {
  font-size: 48px;
  color: #6bf;
  margin-bottom: 20px;
}

#contact ul {
  list-style: none;
  padding: 0;
}

#contact ul li {
  margin: 10px;
  font-size: 24px;
  color: #aaa;
  text-decoration: underline;
}

#contact a:hover {
  color: #6bf;
  font-weight: bold;
}

/* Responsive Styles */
@media screen and (max-width: 1200px) {
  .gif-container img {
    height: 60vh;
    width: 100%;
    
  }

  header {
    height: 60vh;
    min-height: 40vh;
    background-size: auto 100%;
  }

  .site-structure {
    padding: 0 0px;
  }

  .hero-content {
    top: 30%;
    width: 95%;
    padding: 15px;
    
  }

  .hero h1 {
    font-size: 36px;
  }

  .hero h2 {
    font-size: 18px;
  }

  .button {
    padding: 8px 15px;
    font-size: 16px;
  }

  #intro {
    margin-top: -10px;
  }

  .ian-portrait {
    margin-top: -10px;
  }

  .about-paragraphs p {
    font-size: 20px;
    margin-bottom: 5%;
   
  }

  .primary-project-name, .secondary-project-name {
    margin-bottom: 3%;
    text-align: center;
  }
  .primary-project, .secondary-projects {
    text-align: center; /* Center the content */
    margin: auto; /* Optional: Center the articles themselves if needed */
    width: 100%;
    margin-bottom: 10px;
  }
  
  .primary-project img, .secondary-projects img {
    max-width: 95%; /* Larger width on smaller screens */
    max-height: 300px; /* Adjust height as needed */
  }
 
 
 
}